/* Inicio Formato del Main */

.main {
    grid-area: main;
}

.seccion1 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px 0px;
}

.card:hover {
    box-shadow: 0 20px 20px rgb(0 0 0 /20%);
    transform: translate(50px, 20px);
}

.imag {
    height: 100%;
    width: 100%;
}

.detalle:hover {
    box-shadow: 0 20px 20px rgb(0 0 0 /20%);
}

.footer {
    grid-area: footer;
    background-color: $fondo-nav-footer;
}

.section-footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 50px;
}

/* Concluyo Formato del Main */